@media screen and (min-width: 800px) {
	article {
		width: 820px;
		margin: 120px auto 0;
	}
}

@media screen and (max-width: 800px) {
	article {
		width: 100%;
		margin: 110px auto 0;
	}
}

/* head */
header#head {
	width: 100%;
	height: 110px;
	box-sizing: border-box;
	padding: 24px 0px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: hsl(210, 50%, 50%);
	color: white;
}

header#head h1 {
	margin: 0 auto;
	text-align: center;
	font-family: "Lucida Console", STKaiti, Verdana, Arial, Helvetica, sans-serif;
}

/* main */
article {
	box-sizing: border-box;
	padding: 2px 40px 10px;
	background-color: white;
}

h2 {
	font-family: Helvetica, SimHei, Arial, Helvetica, sans-serif;
	font-size: 150%;
	color: hsl(20, 60%, 50%);
	border-bottom: 2px solid hsl(20, 60%, 50%);
	margin: 30px 0 0;
	padding: 2px 0;
}

h3 {
	font-family: Helvetica, SimHei, Arial, Helvetica, sans-serif;
	font-size: 110%;
	color: hsl(20, 60%, 50%);
	margin: 20px 0 0;
}

h4 {
	font-family: Verdana, STKaiTi, Arial, Helvetica, sans-serif;
	font-size: 110%;
	margin: 10px 40px;
}

body {
	font-family: Verdana, "Microsoft Yahei", Arial, Helvetica, sans-serif;
	background-color: #eaead1;
	color: #222222;
	margin: 0px auto;
	font-size: 16px;
}

table {
	border-collapse: collapse;
	margin: 20px auto;
	width: 100%;
}

th,
td {
	border: 1px #ccc solid;
	vertical-align: middle;
	padding: 5px 10px;
	font-size: 100%;
}

li {
	margin-bottom: 8px;
}

a {
	text-decoration: none;
	color: hsl(210, 60%, 50%);
}

a:hover {
	color: hsl(20, 60%, 50%);
}

img {
	vertical-align: middle;
	width: 20px;
	margin-right: 4px;
}

h2 img {
	filter: url(#changeIconColorGold);
	-webkit-filter: url(#changeIconColorGold);
	-moz-filter: url(#changeIconColorGold);
	-ms-filter: url(#changeIconColorGold);
	-o-filter: url(#changeIconColorGold);
}

/* about me */
h2#about-me+table {
	margin: 0 auto -16px;
}

h2#about-me+table td {
	border-style: none;
	vertical-align: top;
}

img#zsx {
	width: 150px;
	border: solid 1px hsl(20, 60%, 50%);
}

/* experience */
ul#ul-experience {
	list-style-type: none;
	margin-left: -24px;
}

ul#ul-experience li::before {
	content: url(img/chalkboard-user-solid.svg);
	display: inline-block;
	width: 20px;
	vertical-align: middle;
}

ul#ul-experience li.li-education::before {
	content: url(img/graduation-cap-solid.svg);
}

ul#ul-experience span {
	display: inline-block;
	width: 12em;
}

/* research */
pre {
	font-family: "Courier New";
	tab-size: 4;
	white-space: pre-wrap;
	word-wrap: break-word;
}

pre,
span.abstract {
	display: none;
	border-left: solid 5px hsl(210, 60%, 50%);
	padding: 10px;
	background-color: #EEEEEE;
}

span.math {
	font-family: 'Cambria Math', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 120%;
}
span.math .ov{
	text-decoration: overline;
}
span.math .root{
	vertical-align:-12%;
}
span.math .cbroot{
	vertical-align:-10%;
}

/* teaching */
table#table-courses em {
	font-family: Helvetica, STKaiti, Arial, Helvetica, sans-serif;
	font-style: normal;
}

.exam::before {
	content: url(img/pen-to-square-solid.svg);
}

.excourse::before {
	content: url(img/person-chalkboard-solid.svg);
}

.handout::before {
	content: url(img/book-open-solid.svg);
}

.video::before {
	content: url(img/video-solid.svg);
}

.exam::before,
.excourse::before,
.handout::before,
.video::before {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	margin-right: 4px;
}

/* links */
p.p-inline-block a {
	display: inline-block;
}

/* footer */
footer {
	margin: 20px auto;
	color: hsl(240, 40%, 10%);
}

footer p {
	text-align: center;
	font-size: 80%;
}